body{
    background: lightcoral;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px red;    
}
.note{
    font-size: 15px;
    color: royalblue;
}
.copy_right_footer{
    position: fixed;
    bottom: 0px;
    color: royalblue;
    width: 100%;
    background: grey;
    line-height: 3;
    text-align: center;
}